
.container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.checkout-text{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    
    color: #000000;
}